@model MCEI.SysRegisAdmin.EN.User___EN.User

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1>Eliminar Usuario Existente</h1>
<h3>Estas Seguro De Eliminar el Siguiente Registro? Recuerda No Puedes Revertir Los Cambios</h3>
<span>@ViewBag.Error</span>
<hr />
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role!.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        @if (Model.Status == 1)
        {
            <dd>
                Activo
            </dd>
        }
        else if (Model.Status == 2)
        {
            <dd>
                Inactivo
            </dd>
        }
        else
        {
            <dd> </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
    </dl>
    <form id="Form" asp-action="Delete" onsubmit="CreateRecord(event)">
        <input type="submit" value="Eliminar Usuario"/>
        <a asp-action="Index">Regresar A La Lista</a>
    </form>
</div>

@section Scripts{
    <script>
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }
        // Mostrar alerta de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }

        function CreateRecord(e) {
            e.preventDefault();

            const form = document.getElementById('Form');

            Swal.fire({
                title: '¿Estas Seguro De Eliminar Este Usuario?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Si, Eliminar Usuario'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}